/*body {
  background-color: #1db954;
  color: #000000;
  height: 100vh;
}

.Timers {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.Music {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

a {
  color: #191414;
  text-decoration: none;
}

#display {
  margin-bottom: 20px;
}
#display span {
  font-size: 36px;
}
#buttons button:nth-child(2) {
  margin-left: 8px;
}

button {
  font-size: 16px;
  background-color: #191414;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
button:hover {
  background-color: #a7a7a7;
}
button:active {
  background-color: #a7a7a7;
}
button:focus {
  outline: 0;
}*/
